@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,300;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* comon style */
.orange-color {
    color: #FD6E0A
}

.btn-style {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 35px;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}

nav h3 {
    font-size: 46px;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li {
    list-style: none;
    margin-right: 50px;
}

ul li a {
    text-decoration: none;
    color: gray
}

/* Bannar styling */
.header {
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

.bannar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 0px 150px;
}

.bannar-content {
    max-width: 500px;

}

/* main section styling */
.about-container {
    padding: 150px;
    background-color: #fff8f3;
    width: 1000px;
    margin: 50px auto;
}

.about-title {
    text-align: center;
    font-size: 46px;
    color: gray;
}

.about-text {
    font-size: 18px;
    padding: 10px;
    /* text-align: justify; */
}

.about-detaits {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px
}

.details-header {
    color: gray;
    text-align: center;
    padding: 20px;
}

.skill-container {
    padding: 150px;
}

.skill-info {
    display: flex;
    text-align: start;
    justify-content: space-between;

}

.skill-same {
    width: 400px;
    height: 300px;
    padding: 10px;
    background-color: white;
    margin: 10px;
}

.skill-same img {
    padding: 10px;
}

.skill-same h2 {
    padding: 10px;

}

.skill-same p {
    padding: 10px;
    text-align: start;
}

/* Resume styling */
.resume-container {
    background-color: #fff;
}

.qualification {
    display: flex;
    text-align: start;
    justify-content: space-between;
}

.qualification h2 {
    padding: 10px 10px 5px 10px;
}

.qualification h3 {
    color: gray;
    text-align: start;
    padding: 10px 10px 5px 10px;

}

.qualification p {
    padding: 10px 10px 5px 10px;
    font-size: 18px;
}

.education-same {
    margin: 20px;
    padding: 10px;
}